#Secrets
.env
*.env
key.json
*.pem
*.key

#Python
__pycache__/
*.pyc
*.pyo
*.pyd

#Virtual Environment
myenv/
venv/
env/

#MacOS
.DS_Store

#Logs
*.log

#Build / cache
dist/
build/
*.egg-info/

#IDEs
.vscode/
.idea/
